@import url(../css/reset.css);
@import url(../css/page.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    font-family: 'Noto Sans TC', 'Montserrat', sans-serif;
    text-align: center;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

*html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

ul li {
    list-style-type: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

a:hover,
a:visited:hover,
a:active:hover {
    text-decoration: none;
}

a:hover img {
    text-decoration: none;
}

img,
img a,
img a:hover {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.container {
    min-width: 100%;
    max-width: 100%;
}

#top_bg {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 998;
    top: 0;
}

#top_bg .top {
    width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
}

#top_bg .top .top_logo {
    float: left;
    text-align: center;
}

#top_bg .top .top_name {
    float: left;
    width: 892px;
    text-align: center;
    margin: 25px 0 0 0;
    vertical-align: middle;
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 0.4em;
}

#top_bg .top .top_name a {
    color: #000;
    text-decoration: none;
}

#top_bg .top .top_logo a:hover img,
#top_bg .top .top_name a:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#top_bg .top .top_menu {
    float: right;
    margin: 23px 3px 0 0;
    letter-spacing: 0.05em;
}

#top_bg .top .top_menu .menu_left {
    float: left;
    text-align: right;
    margin: 4px 4px 0 0;
    cursor: pointer;
    font-size: 0.75em;
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

#top_bg .top .top_menu .menu_icon {
    display: inline-block;
    cursor: pointer;
    float: right;
    position: relative;
}

.menu_icon_top,
.menu_icon_middle,
.menu_icon_bottom {
    width: 18px;
    height: 2px;
    border-radius: 5px;
    background: #000;
    margin: 4px 0;
    transition: 0.4s;
}

.menu_icon .menu {
    display: none;
    z-index: 2;
    position: absolute;
    top: 30px;
    left: -163px;
    text-align: left;
    background: rgba(255, 255, 255, .95);
    padding: 20px 0;
}

.menu_icon .menu ul li a {
    display: block;
    padding: 10px 80px 10px 30px;
    color: #767676;
    line-height: 1.4em;
}

.menu_icon .menu ul li a:hover {
    background: #aaa191;
    color: #000;
}

.menu_icon .menu ul li a span:first-child {
    font-size: 0.75em;
    font-weight: 200;
    letter-spacing: 0.3em;
}

.menu_icon .menu ul li a span:last-child {
    font-size: 0.5em;
    font-weight: 200;
    letter-spacing: 0.1em;
}

.change .menu_left {
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate(0, -3px);
    transform: translate(0, -3px);
}

.change .menu_icon_top {
    -webkit-transform: rotate(-45deg) translate(-2px, 2px);
    transform: rotate(-45deg) translate(-2px, 2px);
}

.change .menu_icon_middle {
    opacity: 0;
}

.change .menu_icon_bottom {
    -webkit-transform: rotate(45deg) translate(-6.5px, -6.5px);
    transform: rotate(45deg) translate(-6.5px, -6.5px);
}

.change .menu {
    display: block;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

/*------------------js use------------------*/

#top_bg.no {
    background: rgba(255, 255, 255, 0);
}

#top_bg.no .top {
    padding: 0;
}

#top_bg.yes .top_logo,
#top_bg.yes .top_name {
    opacity: 1;
}

#top_bg.no .top_logo,
#top_bg.no .top_name {
    display: none;
}

#top_bg.no .top_menu {
    background: rgba(0, 0, 0, .5);
    margin: 0;
    padding: 20px 40px;
}

#top_bg.no .top_menu .menu_left {
    color: #fff;
    font-weight: 300;
}

#top_bg.no .menu_icon_top,
#top_bg.no .menu_icon_middle,
#top_bg.no .menu_icon_bottom {
    background: #fff;
}

#top_bg.no .menu {
    top: 42px;
    left: -125px;
}

.banner {
    margin: 150px 0 70px 0;
}

#demo {
    width: 1024px;
    margin: 0 auto;
    box-shadow: 12px 12px rgba(221, 217, 209, .6);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-item-next,
.active.carousel-item-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-next,
    .active.carousel-item-right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.carousel-item-prev,
.active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-prev,
    .active.carousel-item-left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.3;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin: 0 15%;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin: 0 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

#news {
    width: 850px;
    margin: 0 auto 70px auto;
    padding: 60px 0 35px 0;
    background: rgba(255, 255, 255, .85);
    box-shadow: -12px 12px rgba(221, 217, 209, .6);
}

.title_decoration {
    width: 40%;
    border-top: 1px solid #d8cab2;
    text-align: left;
    position: relative;
}

.title_decoration .title {
    position: absolute;
    left: 70px;
    top: -13px;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: #000;
}

.title_decoration .title_en {
    position: absolute;
    right: -52.5px;
    top: -12.5px;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #d8cab2;
}

.news_list {
    margin: 35px 0 0 62px;
    position: relative;
}

.news_list .news_single {
    text-align: left;
    width: 75%;
}

.news_list .news_single ul li {
    padding: 5px;
}

.news_list .news_single ul li ul li {
    float: left;
    font-size: 0.75em;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.news_list .news_single ul li ul li.news_date {
    color: #a8a8a8;
}

.news_list .news_single ul li ul li.news_category {
    color: #aaa191;
}

.news_list .news_single ul li ul li.news_title {
    color: #606060;
}

.news_list .news_single ul li ul a:hover li,
.page_contentBG .page_newsList ul li ul a:hover li {
    background: #d8cab2;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.news_list .news_single ul li ul a:hover li.news_date,
.page_contentBG .page_newsList ul li ul a:hover li.page_newsDate {
    color: #000;
}

.news_list .news_single ul li ul a:hover li.news_category,
.page_contentBG .page_newsList ul li ul a:hover li.page_newsCategory {
    color: #fff;
}

.news_list .news_single ul li ul a:hover li.news_title,
.page_contentBG .page_newsList ul li ul a:hover li.page_newsTitle {
    color: #000;
}

.news_list>.btn {
    position: absolute;
    right: 35px;
    bottom: 0px;
}

.btn a {
    display: block;
    padding: 15px 45px;
    color: #aaa191;
    font-size: 0.75em;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    border: 1px solid #aaa191;
    background: #fff;
    text-align: center;
}

.btn a:hover {
    background: #aaa191;
    color: #fff;
}

#about {
    width: 1024px;
    margin: 0 auto 70px auto;
    background: url(../images/index_about.jpg) top right no-repeat;
    padding: 60px 0 0 0;
}

.about_bg {
    width: 550px;
    background: rgba(255, 255, 255, .85);
    box-shadow: -12px 12px rgba(221, 217, 209, .6);
    text-align: left;
    padding: 60px 0;
}

.about_bg>.title_decoration>.title_en {
    right: -59.5px;
}

.about_content {
    margin: 35px 90px 0 70px;
}

.about_content p,
.member_content p {
    color: #606060;
    font-size: 0.75em;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 2em;
    margin: 30px 0;
}

.about_content>.btn {
    width: 44%;
}

#member {
    width: 1024px;
    margin: 0 auto 70px auto;
    padding: 60px 0 0 0;
}

.member_pic01 {
    background: url(../images/index_member01.jpg) top left no-repeat;
}

.member_pic02 {
    background: url(../images/index_member02.jpg) top right no-repeat;
}

.member_bg {
    width: 730px;
    background: rgba(255, 255, 255, .85);
    text-align: left;
    padding: 60px 0;
}

.member_bg01 {
    box-shadow: 12px 12px rgba(221, 217, 209, .6);
    margin: 0 0 0 294px;
}

.member_bg02 {
    box-shadow: -12px 12px rgba(221, 217, 209, .6);
}

.member_bg>.title_decoration>.title_en {
    right: -162.5px;
}

.member_bg02>.title_decoration>.title_en {
    right: -114.5px;
}

.member_content {
    margin: 35px 0 0 72px;
    position: relative;
}

.member_name {
    float: left;
    color: #aaa191;
    font-weight: 300;
    letter-spacing: 0.2em;
    margin: 55px 0 0 0;
}

.member_name span {
    letter-spacing: 0;
    font-size: 0.8em;
}

.member_content p {
    float: right;
    margin: 50px 83px 100px 0;
}

.member_bg02>.member_content>p {
    margin: 50px 163px 100px 0;
}

.member_content>.btn {
    position: absolute;
    right: 230px;
    bottom: 0px;
}

#contact {
    width: 1024px;
    margin: 0 auto;
    background: rgba(255, 255, 255, .85);
    padding: 40px 0;
    text-align: left;
}

.contact_bg {
    margin: 0 80px;
    position: relative;
}

.contact_logo {
    float: left;
}

.contact_name {
    padding: 15px 0 0 85px;
    line-height: 1.5em;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.contact_name span {
    font-size: 0.75em;
    letter-spacing: 0.2em;
    font-weight: 300;
}

.contact_bg>.btn {
    position: absolute;
    right: 0;
    top: 15px;
}

#footer {
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    font-weight: 100;
}

.page_bg {
    z-index: -1;
    opacity: .6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 33%;
    right: 26%;
    background: -webkit-linear-gradient(left, #dedede 0, #fff 100%);
    background: linear-gradient(to right, #dedede 0, #fff 100%);
}

@media (max-width:1024px) {
    #top_bg .top {
        width: 100%;
    }

    #top_bg .top .top_logo {
        padding: 0 0 0 10px;
    }

    #top_bg .top .top_name {
        width: 85%;
    }

    #demo {
        width: 100%;
    }

    #about {
        width: 100%;
    }

    .about_bg {
        margin: 0 0 0 12px;
    }

    #member {
        width: 100%;
    }

    .member_bg {
        width: 70.1%;
    }

    .member_bg02 {
        margin: 0 0 0 12px;
    }

    #contact {
        width: 100%;
        margin: 0;
    }
}

@media (max-width:850px) {
    #top_bg .top .top_name {
        width: 80%;
    }

    #news {
        width: 90%;
        margin: 0 auto 70px auto;
    }

    #about {
        background-size: 50%;
    }

    .member_bg01 {
        margin: 0 0 0 230px;
    }

    .member_bg02 {
        margin: 0 0 0 30px;
    }

    .member_pic01,
    .member_pic02 {
        background-size: 35%;
    }
}

@media (max-width:768px) {
    .news_list>.btn {
        position: relative;
        margin: 20px 0 0 40px;
    }

    #about {
        background: url(../images/index_about.jpg) top center no-repeat;
        background-size: contain;
    }

    .about_bg {
        width: 90%;
        margin: 280px auto 0 auto;
    }

    .about_content {
        margin: 35px 50px 0 70px;
    }

    .about_content>.btn {
        width: 33%;
    }

    .member_bg {
        width: 70%;
    }

    .member_bg01 {
        margin: 0;
        box-shadow: none;
    }

    .member_bg02 {
        margin: 0;
        box-shadow: none;
    }

    .member_pic01 {
        background: url(../images/index_member01.jpg) top right no-repeat;
        background-size: 35%;
    }

    .member_name {
        float: none;
    }

    .member_content p {
        float: none;
        margin: 50px 0 100px 0;
    }

    .member_bg02>.member_content>p {
        margin: 50px 0 100px 0;
    }

    .member_content>.btn {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 46%;
    }
}

@media (max-width:650px) {
    #top_bg .top .top_name {
        display: none;
    }

    .title_decoration {
        width: 100%;
        border: none;
    }

    .title_decoration .title {
        left: 50px;
        letter-spacing: 0.1em;
    }

    .title_decoration .title_en {
        left: 140px;
        top: -6.5px;
    }

    .news_list {
        margin: 35px 20px 0 42px;
        position: relative;
    }

    .news_list .news_single {
        width: 100%;
    }

    .news_list .news_single ul li ul li {
        float: initial;
    }

    .about_bg>.title_decoration>.title_en {
        left: 100px;
    }

    .about_content>.btn {
        width: 100%;
    }

    .about_content {
        margin: 35px 50px 0 50px;
    }

    .member_bg>.title_decoration>.title_en {
        left: 162px;
    }

    .member_bg02>.title_decoration>.title_en {
        left: 140px;
    }

    .member_content {
        margin: 35px 50px 0 52px;
    }

    .member_content>.btn {
        width: 100%;
    }

    .contact_bg {
        margin: 0 50px;
    }

    .contact_name {
        padding: 10px 0 0 85px;
    }
}

@media (max-width:450px) {
    .page_bg {
        right: 0;
    }

    #about {
        background: none;
        padding: 0;
    }

    .about_bg {
        padding: 60px 0;
        margin: 0 auto;
    }

    .contact_bg {
        margin: 0 30px;
        padding: 0 0 60px 0;
    }

    .contact_bg>.btn {
        left: 0;
        top: 80px;
    }
}
@media (max-width:320px) {
    .contact_bg {
        margin: 0 10px;
        padding: 0 0 60px 0;
    }
}